/* body */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* prenav styles */
.preNav {
  background-color: #f8643c;
  height: 25px;
}

.preNav > p {
  color: white;
  font-weight: bold;
  padding-top: 10px;
  line-height: 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
/* make navbar stick on scroll */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.shopNow {
  color: white;
}

/* navbar */
.navMain {
  padding-top: 10px;
  width: 100%;
  height: 70px;
  left: 0;
  z-index: 1000;
  background-color: #fff; 
}

.navMainimg{
  margin-left: 20px;
  height: 70px;
  width: 70px;
}

.navLink {
  margin-left: 260px;
  display: flex;
  align-items: center;

}

.navLink > a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
}

.navIcons {
  display: flex;
  justify-content: space-between;
  padding: 8px; 
  margin-left: 250px;
}

.navIcons> div>img {
  margin-right: 20px;
  width: 15px;
  height: 15px;
}

.navIcons> div>p {
  font-size: 10px;
  text-decoration: none;
  color: #000;
}



/* swiper */
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* boxes  */
 .flex-main {
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
} 

.flex-main img {
  width: 320px;
}

/* swiper 1 */
.swiper1Img{
  position: relative;
  background-size: cover;
  height: 550px;
  background-repeat: no-repeat;
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Library-Sites-KhaadiSharedLibrary/default/dw38be5408/images/homepage/Homepage-category-Print-story.jpg");
}

.swiper1Clipimg{
  clip-path: polygon(100% 0, 100% 100%, 0 0);
  height: 30px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  left: 630px;
  top: 90px;
} 

/*swiper 2 and 4 clip path */
.swiper2_4Clipimg{
  clip-path: polygon(100% 0, 0 0, 0 96%);
  height: 30px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  left: 0px;
  top: 90px;
} 

/* swiper 2 */
.swiper2Img{
  position: relative;
  background-size: cover;
  height: 550px;
  background-repeat: no-repeat;
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Library-Sites-KhaadiSharedLibrary/default/dw2364c1b3/images/Essentials-Homepage-Category-Banner-986x770.jpg");
}
/* swiper3 */
.swiper3Img{
  position: relative;
  background-size: cover;
  height: 550px;
  background-repeat: no-repeat;
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Library-Sites-KhaadiSharedLibrary/default/dw84cdb916/images/OnTheGo-Homepage-Category-Banner-986x770.jpg");
}

.swiper4Img{
  position: relative;
  background-size: cover;
  height: 550px;
  background-repeat: no-repeat;
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Library-Sites-KhaadiSharedLibrary/default/dw4f346d72/images/Sale-Homepage%20Category%20Banner-986x770px.jpg");
}

/* image change on hover */
.slide1 {
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw179b8580/images/hi-res/ak231132_purple_4.jpg?sw=800&sh=1200");
  height: 100%;
  width: 100%;
  background-size: cover;
}
.slide1:hover {
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw7eb4ce30/images/hi-res/ak231132_purple_5.jpg?sw=800&sh=1200");
}
.slide2 {
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dwd5332d1c/images/hi-res/ak231132_maroon_4.jpg?sw=800&sh=1200");
  height: 100%;
  width: 100%;
  background-size: cover;
}
.slide2:hover {
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dwa0a70765/images/hi-res/ak231132_maroon_5.jpg?sw=800&sh=1200");
}
.slide3 {
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dwe972a5c9/images/hi-res/alk231103_navy_1.jpg?sw=800&sh=1200");
  height: 100%;
  width: 100%;
  background-size: cover;
}
.slide3:hover {
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw5e1ccb50/images/hi-res/alk231103_navy_3.jpg?sw=800&sh=1200");
}
.slide4 {
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dweb4641d1/images/hi-res/ak231122_purple_4.jpg?sw=800&sh=1200");
  height: 100%;
  width: 100%;
  background-size: cover;
}
.slide4:hover {
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dwf4f76fdc/images/hi-res/ak231122_purple_5.jpg?sw=800&sh=1200");
}

.slide5 {
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw01d688f5/images/hi-res/ak231130_yellow_1.jpg?sw=800&sh=1200");
  height: 100%;
  width: 100%;
  background-size: cover;
}
.slide5:hover {
  background-image: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dwb5f648ee/images/hi-res/ak231130_yellow_2.jpg?sw=800&sh=1200");
}

/* Signin */
.signinBtn{
  width: 100px;
}

.signup{
  background-color: white;
}
/* .signup:hover{
  color: white;
  background-color: #000;
} */

/* saleNew */
.salebanner{
  height: 150px;
  width: 100vw;
}

.bcrum{
  margin-left: 20px;
  padding-top: 5px;
}

.bcrumLi{
  color: #000;
  text-decoration: none;
}

.bcrumDropdown{
  width: 170px;
  margin-left: 10px;
  background-color: white;
  border: 1px solid grey;
  height: 30px;
}

.Addbtn{
  width: 318px;
  margin-left: 1px;
  position:absolute;
  left: 0px;
  top: 460px;
  border: none;
  background-color: #000;
  color: white;
}

.Addbtn:hover{
  background-color: rgb(230, 224, 224);
  color: black;
}

.Addbag{
    width: 285px;
    height: 25px;
  margin-left: 1px;
  /* margin-bottom: 0px; */
  position:absolute;
  left: 0px;
  top: 410px;
  border: none;
  background-color: #000;
  color: white;
}

.Addbag:hover{
  background-color: rgb(224, 218, 218);
  color: black;
}
.s1{
  position: relative;
}

.addTobag{
  width: 270px;
  margin-left: 1px;
  position:absolute;
  top: 375px;
  border: none;
}

.addTobag:hover{
  background-color: #000;
  color: white;
}

/* cards hover*/
.card1:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw59278b95/images/hi-res/lla230810_red_2.jpg?sw=400&sh=600");
}

.card2:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw084f8186/images/hi-res/ala230820_black_2.jpg?sw=400&sh=600");
}

.card3:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw183455b9/images/hi-res/lla230810_teal_2.jpg?sw=400&sh=600");
}

.card4:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw6192b863/images/hi-res/bla230806_pink_2.jpg?sw=400&sh=600");
}

.card5:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dwe46a3efb/images/hi-res/ala230806_teal_2.jpg?sw=400&sh=600");
}

.card6:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw77f3a425/images/hi-res/bla230806_black_2.jpg?sw=400&sh=600");
}

.card7:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw431151ed/images/hi-res/ala230817_blue_2.jpg?sw=400&sh=600");
}

.card8:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw2436b213/images/hi-res/ala230821_teal_2.jpg?sw=400&sh=600");
}

.filter{
  width: 170px;
  margin-left: 10px;
  background-color: white;
  border: 1px solid grey;
  height: 30px;
}

/* wintercollection hover */
.w_card1:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw7535ebbe/images/hi-res/eet235103_black_2.jpg?sw=400&sh=600");
}

.w_card2:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw158467ff/images/hi-res/alk231105_navy_2.jpg?sw=400&sh=600");
}
.w_card3:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dwfd5e310a/images/hi-res/alk231109_d-green_2.jpg?sw=400&sh=600");
}

.w_card4:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw5f1a5779/images/hi-res/alk231105_green_2.jpg?sw=400&sh=600");
}

.w_card5:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw54ca5a46/images/hi-res/alk231109_navy_5.jpg?sw=400&sh=600");
}

.w_card6:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw0f2bad25/images/hi-res/blk231103_red_2.jpg?sw=400&sh=600");
}

.w_card7:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw880a6832/images/hi-res/blk231103_purple_2.jpg?sw=400&sh=600");
}

.w_card8:hover{
  content: url("https://pk.khaadi.com/dw/image/v2/BJTG_PRD/on/demandware.static/-/Sites-khaadi-master-catalog/default/dw1b5a7cf8/images/hi-res/eet23521_blue_2.jpg?sw=400&sh=600");
}

/* track order */
.trackOrder{
  width: 550px;
  height: 50px;
  margin-left: 350px;
  background-color: #f0eeee;
  border: none;
}

.trackBtn{
  width: 100px;
  margin-left: 20px;
  background-color: #000;
  color: #eee;
}

/* footer */
.upper-footer {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 40px;
  display: flex;
  color: #000;
  justify-content: space-between;
}
.sub-footer{
  display: flex;
  justify-content: space-evenly;
  background-color: #ccc;
}
.sub-footer img{
  height: 30px;
  padding-top: 1%;
}
.content-1{
  display: flex;
  gap: 5;
}
.content-1 img{
  margin-top: 10%;
  padding-left:-4%;
}

.upper-center input {
  margin-top: 10px;
  width: 350px;
  padding: 10px;
  border: 1px solid #ccc;
}

.upper-center button {
  width: 100px;
  height: 36px;
  background-color: #000000;
  color: white;
  font-size: 14px;
  margin-top: 7px;
}

.upper-right {
  display: flex;
  gap: 5px;
}

.upper-right img {
  width: 38px;
  height: 38px;
}

/* footer */
.footerSec1{
  width: 100vw;
  height: 10vh;
  background-color: rgb(218, 212, 212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.myicon{
  margin: 15%;
}

/* landing page */
.post{
    height: 100vh;
    width: 100%;
    background-image: url('https://khaadi.com/media/wysiwyg/khaadi/01-01-landingpage/Country_Landing-0602-1920x1080.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;


}
.logo img{
    height: 150px;
    width: 200px;
    position: absolute;
    top: 23%;
    left: 74%;
    
}

.btnL a{
   position: absolute;
   top: 56%;
   left: 73%;
   text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px 85px;
    border-radius: 4px;
    border: none;
}
.btnL a:hover{
    background-color: white;
    color: black;
}

select{
    position: absolute;
    left: 68%;
    top: 45.5%;
    height: 7.5vh;
    width: 25%;
    border-radius: 10px;
    border: 1px solid black;
}

.btnC{
  margin-left: 20%;
}